node_modules/
bower_components/
.sass-cache/
.tmp/
dist/
coverage/
builds/*

**/.DS_Store
.DS_Store
*.jar
*.orig

.project
.settings

target
.project
.settings
.classpath
.idea
sesc-sicon.iml
.idea/workspace.xml

client/target
client/.project
client/.settings
client/.classpath

target/sesc-sicon.jar
sesc-sicon.jar
sesc-sicon.jar
src/main/resources/static/*
!src/main/resources/static/swagger
*.xml
.idea/sesc-sicon.iml
*.class
*/**.class
**/*.class
**/**.class
